<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/shared/head'); %>
</head>

<body lang="en">
    <%- include('../partials/shared/navbar'); %>
    <div class="container">
      <div class="bg-light p-5 rounded">
        <h1><%= title %></h1>
        <p class="lead"><%= intro %></p>
        <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a>
      </div>

      <div class="nav-scroller py-1 mb-2" id="sync-top-by-div"></div>
      <div id="delimitations-map"></div>

      <br>
      <%- include('../partials/sections/listings_parser'); %>
      <%- include('../partials/shared/pagination'); %>
      <%- include('../partials/shared/footer'); %>
    </div>
  <%- include('../partials/conf/beforebodyclose'); %>
</body>
</html>