<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/shared/head'); %>
</head>

<body lang="en">
    <%- include('../partials/shared/navbar'); %>
    <div class="container">
      <div class="bg-light p-5 rounded">
        <h1><%= title %></h1>
        <p class="lead"><%= intro %></p>
        <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a>
      </div>

      <div id="sync-top-by-div"></div>
      <div id="delimitations-map"></div>

      <div class="search d-flex py-4">
        <div class="mx-auto mx-lg-0">
          <label class="text-centermb-1 sm:mb-0" for="qsearch">Highlight listings</label>
          <input type="text" name="qsearch" maxlength="8" size="10" placeholder="Today listings" required>
        </div>
      </div>
      <br>
      <%- include('../partials/sections/listings_parser'); %>
      <%- include('../partials/shared/pagination'); %>
      <%- include('../partials/shared/footer'); %>
    </div>
  <%- include('../partials/conf/beforebodyclose'); %>
</body>
</html>