<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/shared/head'); %>
</head>

<body>
  <%- include('../partials/shared/navbar'); %>
  <div class="container">
    <div class="head">
      <div class="my-3" style="position:relative;">
          <h1 class="display-1 text-uppercase my-2 servervar"><%= title %></h1>
      </div>
      <div class="subhead servervar">
        <span style="font-style: italic; font-size: smaller;"><%= intro %></span>
      </div>
    </div>
    <div id="sync-top-tags"></div>
    <%- include('../partials/sections/geo_search_map'); %>
    <%- include('../partials/forms/gwoogl'); %>
    <div class="search d-flex py-4">
      <div class="mx-auto mx-lg-0">
        <label for="qsearch">Highlight listings</label>
        <input type="text" name="qsearch" maxlength="8" size="10" placeholder="Today listings" data-trans="placeholder=(today-listings);html=(today-listings)" required>
      </div>
    </div>
    <hr>
    <h2 class="pb-2">Listings</h2>
    <%- include('../partials/sections/listings_parser'); %>
    <%- include('../partials/shared/pagination'); %>
    <%- include('../partials/sections/add_donation'); %>
    <%- include('../partials/sections/add_skill'); %>
    <%- include('../partials/sections/add_event'); %>

    <%- include('../partials/conf/prepare_js'); %>
    <%- include('../partials/shared/footer'); %>
  </div>
  <%- include('../partials/conf/beforebodyclose'); %>
</body>
</html>