<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/shared/head'); %>
</head>

<body>
  <div class="container">
    <%- include('../partials/shared/navbar'); %>
    <% if(typeof(title) != 'undefined' && typeof(intro) != 'undefined') { %>
    <div class="bg-light p-5 rounded">
      <h1><%= title %></h1>
      <p class="lead"><%= intro %></p>
      <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a>
    </div>
    <% } else { %>
    <div class="bg-light p-5 rounded">
      <h1>TEMP TITLE(O_o)</h1>
      <p class="lead">TEMP intro (O_o) TEMP intro (O_o) TEMP intro (O_o) TEMP intro (O_o) TEMP intro (O_o) TEMP intro (O_o) </p>
      <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a>
    </div>
    <% } %>

    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in">&#8203;</span> <span data-trans="(reset-pass)">Reset password</span></h1>

      <!-- Reset FORM -->
      <form action="/reset" method="post" name="doReset">
        <div class="form-group">
          <label data-trans="(password)">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" data-trans="(reset)">Reset</button>
      </form>

    </div>

    <%- include('../partials/conf/prepare_js'); %>
    <%- include('../partials/shared/footer'); %>
  </div>
  <%- include('../partials/conf/beforebodyclose'); %>
</body>

</html>