<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/shared/head'); %>
</head>

<body>
  <div class="container">
    <%- include('../partials/shared/navbar'); %>
    <div class="head">
      <div class="my-3" style="position:relative;">
          <h1 class="display-1 text-uppercase my-2 servervar"><%= title %></h1>
      </div>
    </div>
    
    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>

      <!-- LOGIN FORM -->
      <form action="/signup" method="post" name="doSignup">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
      </form>

      <hr>

      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">home</a>.</p>

    </div>

    <%- include('../partials/conf/prepare_js'); %>
    <%- include('../partials/shared/footer'); %>
  </div>

</body>
<%- include('../partials/conf/afterbody'); %>

</html>